@use "sass:map";
@import "colors";

$theme-color: $dark-theme;
$header-height: 40px;

@media only screen and (max-width: 600px) {
  body {
    width: 100%;
    position: absolute;
  }
}

@media only screen and (min-width: 600px) {
  body {
    position: relative;
  }
}

* {
  margin: 0;
  padding: 0;
  color: map.get($theme-color, "c3");
  text-align: center;
}

body {
  background-color: map.get($theme-color, "c1");
}

header {
  height: $header-height;
  border-bottom: thin solid map.get($theme-color, "c3");
}

.container {
  max-width: 500px;
  height: calc(99.9vh - $header-height);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.board-container {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  overflow: hidden;
}

.board {
  height: 55vh;
  width: calc(55vh - 50px);
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 5px;
  margin: 10px;
  box-sizing: border-box;
}

.row-border {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}

.tile {
  display: flex;
  height: calc((55vh - 65px) / 5);
  border: 1px solid map.get($theme-color, "c2");
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 1;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
}

.keyboard {
  height: 200px;
  margin: auto 8px;
}

.keyboard-row {
  display: flex;
  width: 100%;
  margin: 0 auto 5px;
}

.key {
  background-color: map.get($theme-color, "c2");
  box-shadow: 0 3px map.get($theme-color, "c4");

  font-weight: bold;
  border: 0;
  padding: 0;
  margin: 0 6px 0 0;
  height: 58px;
  border-radius: 4px;
  cursor: pointer;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: map.get($theme-color, "c5");
    cursor: pointer;
  }

  &:active {
    box-shadow: none;
    transform: translateY(5px);
  }
}

.key-board-down {
  box-shadow: none;
  transform: translateY(3px);
  background-color: map.get($theme-color, "c5");
}

.bigger-key {
  flex: 1.5;

  img {
    width: 20px;
    filter: invert(map.get($theme-color, "n1"));
  }
}

.white-space {
  flex: 0.5;
}